<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <h1 id="title">Where am I?</h1>
      <div class="cover inner">
        {{outlet}}
      </div>
      <div class="mastfoot">
        <div class="">
          <p>
            Let us tell you where you are.
            (Or, where we think you are.)
          </p>

          <p>
            The simplest site you've ever seen,
            we look at your IP address,
            find out your approximate location,
            and put it on a google map.
          </p>

          <p>
            You won't be asking where you are anymore.
          </p>
        </div>
      </div>
  </div>
</div>
