<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <h1 id="title">Where am I?</h1>
      <div class="cover inner">
        {{outlet}}
      </div>
  </div>
</div>
